html, body {
    margin: 0;
    background-color: black;
    font-family: "Courier New";
    font-weight: bold;
    color: white;
    overflow: scroll;
}

#login_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: none;
    padding-top: 280px;
}
#result_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 5, 5, .6);
    text-align: center;
    color: #fff;
    display: none;
    padding-top: 280px;
    font-size: 20px;
}
#nick_wrapper {
    display: none;
    text-align: center;
}
#start_button_wrapper {
    display: none;
}
#nickname_input{
    font-size: 20px;
}
#room_input{
    font-size: 20px;
}
#ready_button{
    margin-top: 20px;
    font-size: 20px;
}

#wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    display: inline-block;
}
#content_wrapper{
    position: absolute;
    left: 50px;
    top: 50px;
}
#outer_round_row{
    display: none;
    height: 100px;
    width: 500px;
    top: 100px;
    left: 920px;
    border: none;
    text-align: center;
    margin-left: 30px;
    position: absolute;
}
.outer_round_box{
    height: 70px;
    width: 70px;
    margin: 6px;
    border-radius: 50%;
    border: thin solid orange;
    display: block;
    text-align: center;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
}

#inner_round_row{
    display: none;
    height: 100px;
    width: 500px;
    top: 200px;
    left: 990px;
    border: none;
    text-align: center;
    margin-left: 30px;
    position: absolute;
}
.inner_round_box{
    height: 36px;
    width: 36px;
    border: thick solid black;
    margin: 6px;
    border-radius: 50%;
    display: block;
}
.player_frame{
    display: block;
    height: 170px;
    width: 300px;
    border: none;
    text-align: center;
    margin-left: 30px;
    position: absolute;
}
.id_label{
    font-size: 20px;
    width: 300px;
    font-family: "Courier New";
}
.avatar_button{
    margin-top: 0px;
    margin-bottom: 5px;
    border: thick solid white;
    outline: none;
    height: 105px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15%;
    background-image: url('../img/thumb.png');
    
    background-position: 50% 50%;
    background-size: 100% 80%;
    background-repeat: no-repeat;
}
.name_label{
    font-size: 20px;
    font-family: "Courier New";
}

#player_list {
    margin-top: 5px;
    margin-left: 50px;
}
.double_action{
    display: flex;
    position: absolute;
    top: 320px;
    left: 338px;
    text-align: center;
}
#vote_buttons{
    display: none;
}
#vote_buttons > button{
    background-color: green;
    height: 60px;
    width: 100px;
    font-size: 20px;
    margin-left: 15px;
    display: inline-block;
}
#mission_buttons{
    display: none;
}
#mission_buttons > button{
    background-color: green;
    height: 60px;
    width: 100px;
    font-size: 20px;
    margin-left: 15px;
    display: inline-block;
    text-align: center;
}
.single_action{
    display: none;
    position: absolute;
    top: 320px;
    left: 395px;
    height: 60px;
    width: 100px;
    font-size: 20px;
    margin-left: 15px;
}
#status_label{
    display: block;
    position: absolute;
    top: 360px;
    left: 1130px;
    height: 60px;
    width: 100px;
    font-size: 20px;
    margin-left: 15px;
    text-align: left
}

#roles_label{
    display: block;
    position: absolute;
    top: 560px;
    left: 1030px;
    height: 60px;
    width: 300px;
    font-size: 20px;
    margin-left: 15px;
    text-align: left
}
